/* //////////////////////////////////////////////////////////////////////////// */
/* FONTS Styles */
/* //////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');


/* //////////////////////////////////////////////////////////////////////////// */
/* CSS Variables */
/* //////////////////////////////////////////////////////////////////////////// */
:root {
    --primary-font: 'Space Grotesk', sans-serif;
    --secondary-font: 'Inter', cursive;
    --primary-color: rgb(24, 24, 24);
    --secondary-color: rgb(119, 119, 119);
    /* --highlight-color: rgb(26, 26, 224);
    --highlight-color-light: rgb(213, 24, 191); */
}

/* Global Styles */
/* body {
  font-family: var(--secondary-font); 
color: var(--primary-color);
} */

h1 {
    font-family: var(--primary-font); 
    color: var(--primary-color);
} 

/* Global Styles */
h2, h3 {
    font-family: var(--secondary-font); 
    background-color: yellow;
    color: var(--secondary-color);
} 





/* .space-grotesk-regular {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}  */



/* //////////////////////////////////////////////////////////////////////////// */
/* Main Body CSS Styles */
/* //////////////////////////////////////////////////////////////////////////// */
.footer-spacer {
    min-height: 95vh; /* Adjust this value based on the footer height */
}

.card {
    /* width: 24rem; */
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 16px;
    background-color: #fff;
    /* transition: transform 0.2s; */
}

.hero {
width: 100wh;
/* Note find a better way to make this min-height value responsive */
min-height: 400px; 
background: linear-gradient(to bottom, #218de6, #F7FAFF);

}























/* //////////////////////////////////////////////////////////////////////////// */
/* Temporary debugging - shows all elements */
/* //////////////////////////////////////////////////////////////////////////// */
* {
    border: 1px solid rgba(234, 149, 12, 0.7);
}

/* Temporary debugging */
/* section#reasons {
    border: 3px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
}

#benefits {
    border: 3px solid green;
    background-color: rgba(0, 255, 0, 0.1);
}

#benefits > div {
    border: 2px solid orange;
    background-color: rgba(255, 165, 0, 0.1);
}

#benefits > div:empty {
    border: 2px dashed red;
    min-height: 50px;
} */